body{
    background-image: url('https://static.hbo.com/2022-06/house-of-the-dragon-ka-1920.jpg?w=400');
    font-family:fantasy, "papyrus";
    color: white;
    text-align: center;
}
h1{
    font-size: 2rem;
}